version: "3.8"

volumes:
  keys_volume:

services:
  broker:
    image: eclipse-mosquitto:2
    container_name: mosquitto-broker
    ports:
      - "1883:1883"
    restart: always

  authority:
    build:
      context: .
      dockerfile: cmd/authority/Dockerfile
    container_name: cpabe-authority
    volumes:
      - keys_volume:/keys
    restart: unless-stopped
    command: ["sh", "-c", "sleep infinity"]

  publisher:
    build:
      context: .
      dockerfile: cmd/publisher/Dockerfile
    container_name: go-publisher
    volumes:
      - keys_volume:/keys
    depends_on:
      - broker
      - authority
    restart: on-failure

  subscriber1:
    build:
      context: .
      dockerfile: cmd/subscriber1/Dockerfile
    container_name: go-subscriber-1
    volumes:
      - keys_volume:/keys
    depends_on:
      - broker
      - authority
    restart: on-failure

  subscriber2:
    build:
      context: .
      dockerfile: cmd/subscriber2/Dockerfile
    container_name: go-subscriber-2
    volumes:
      - keys_volume:/keys
    depends_on:
      - broker
      - authority
    restart: on-failure
