version: "3.8"

services:
  broker:
    image: eclipse-mosquitto:2
    container_name: mosquitto-broker
    ports:
      - "1883:1883"
    restart: always

  publisher:
    build:
      context: .
      dockerfile: publisher/Dockerfile
    container_name: go-publisher
    depends_on:
      - broker
    restart: on-failure

  subscriber1:
    build:
      context: .
      dockerfile: subscriber1/Dockerfile
    container_name: go-subscriber-1
    depends_on:
      - broker
    restart: on-failure

  subscriber2:
    build:
      context: .
      dockerfile: subscriber2/Dockerfile
    container_name: go-subscriber-2
    depends_on:
      - broker
    restart: on-failure
